* {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
    background-color: #40c4ff;
    color: #FFF;
}

ul {
    text-align: center;
    font-size: 30px;
    color: #40c4ff;
    border: 2px #40c4ff solid;
}

li {
    padding-bottom: 15px;
    padding-top: 15px;
}

a {
    color: #40c4ff;
}